<h2><%= @user.name %></h2>
<h3> The recipes of this user include: </h3>
<ol>
    <% @user.recipes.each do |r| %>
        <li><%= link_to r.name, recipe_path(r) %></li>
    <% end %>
</ol>

<h4> Medical Information: </h4>
<!--- Put in iterable later to render allergies -->
<% @user.ingredients.each do |ing|%>
    <p> <%= ing.name %> </p>
<% end %>


<%= form_tag user_path(@user), method: "delete" do %>
    <%= submit_tag "Delete"%>
<% end %>

<%= link_to "Edit user", edit_user_path(@user) %> <br>
<%= link_to "Back to the User index", users_path %>
