<h2><%= @user.name %></h2>
<h3> The recipes of this user include: </h3>
<ol>
    <% @user.recipes.each do |r| %>
        <li><%= link_to r.name, recipe_path(r) %></li>
    <% end %>
</ol>

<%= form_tag user_path(@user), method: "delete" do %>
    <%= submit_tag "Delete"%>
<% end %>

<%= link_to "Back to the User index", users_path %>
